body {
  background: rgb(255, 173, 65);
  box-sizing: border-box;
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5em auto;
}

.todo-container {
  background: rgb(41, 33, 33);
  min-width: 70vw;

  border-radius: 15px;
  padding: 20px 10px;
  color: white;
  border: 3px solid rgb(36, 110, 194);
}

.task {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5em;
  display: block;
  margin: 0 auto;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  width: 90%;
  font-family: Montserrat;
}

.task button {
  background: rgb(12, 124, 251);
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  color: white;
  float: right;
}

.header {
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
  font-family: Quicksand;
  font-weight: 300;
}

.create-task input[type="text"] {
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  width: 90%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.7em 0.5em;
  font-family: Quicksand;
}

.btn {
  background: rgb(251, 12, 191);
  border-radius: 5px;
  padding: 13px 13px;
  border: none;
  cursor: pointer;
  color: white;
  display: block;
  margin: 0 auto;
  width: 75%;
  font-size: 1.2rem;
  font-family: Quicksand;
}

.field {
  border: 1px solid red;
}

p {
  margin-top: 2em;
  font-family: Quicksand;
}

footer {
  margin-top: 1em;
  font-family: Montserrat;
}

@media only screen and (min-width: 320px) and (orientation: landscape) {
  .parent-container {
    margin: 2em auto;
  }

  .todo-container {
    min-width: 60vw;
  }
}

@media only screen and (min-width: 1200px) {
  .parent-container {
    margin: 5em auto;
  }

  .todo-container {
    min-width: 20vw;
  }
}
